In [9]:
import pandas as pd
import numpy as np
import json

tabela = pd.read_csv("PATRIMONIO 12 2023.csv", encoding='windows-1252',delimiter=';')

display(tabela)

,Nº inventário,Localização,Denominação,Incorporação em
0,1221588.0,21080001,SENAI Ricardo Lerner,02/12/2009
1,1221668.0,21080001,SENAI Ricardo Lerner,01/12/2016
2,724781.0,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
3,724782.0,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
4,724783.0,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
...,...,...,...,...
4819,1278680.0,21080050,PÚLPITO ACRÍLICO 120CM,31/07/2023
4820,1279970.0,21080003,DETECTOR DE 5 GASES C/KIT DE CALIBRAÇÃO,19/09/2023
4821,1281779.0,21080059,ROBÔ COLABORATIVO 5 KG,14/11/2023
4822,1281780.0,21080059,ROBÔ COLABORATIVO 5 KG,14/11/2023
4823,NaN,21080006,INSTALAÇÃO DO SISTEMA DE GERAÇÃO SOLAR,06/04/2023

In [10]:
display(tabela.info())

tabela['Nº inventário'].fillna(0, inplace=True)

tabela['Nº inventário'] = tabela['Nº inventário'].astype(int)

display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nº inventário    4773 non-null   float64
 1   Localização      4824 non-null   int64
 2   Denominação      4824 non-null   object
 3   Incorporação em  4824 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 150.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nº inventário    4824 non-null   int64
 1   Localização      4824 non-null   int64
 2   Denominação      4824 non-null   object
 3   Incorporação em  4824 non-null   object
dtypes: int64(2), object(2)
memory usage: 150.9+ KB

C:\Users\DELL\AppData\Local\Temp\ipykernel_14960\3676236845.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tabela['Nº inventário'].fillna(0, inplace=True)

None

In [11]:
tabela['Sala'] = np.where(tabela['Localização'] == 21080001, 'SALA 01', np.where(tabela['Localização'] == 21080013, 'SALA 13','OUTRA'))
display(tabela)

display(tabela.info())

,Nº inventário,Localização,Denominação,Incorporação em,Sala
0,1221588,21080001,SENAI Ricardo Lerner,02/12/2009,SALA 01
1,1221668,21080001,SENAI Ricardo Lerner,01/12/2016,SALA 01
2,724781,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
3,724782,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
4,724783,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
...,...,...,...,...,...
4819,1278680,21080050,PÚLPITO ACRÍLICO 120CM,31/07/2023,OUTRA
4820,1279970,21080003,DETECTOR DE 5 GASES C/KIT DE CALIBRAÇÃO,19/09/2023,OUTRA
4821,1281779,21080059,ROBÔ COLABORATIVO 5 KG,14/11/2023,OUTRA
4822,1281780,21080059,ROBÔ COLABORATIVO 5 KG,14/11/2023,OUTRA
4823,0,21080006,INSTALAÇÃO DO SISTEMA DE GERAÇÃO SOLAR,06/04/2023,OUTRA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nº inventário    4824 non-null   int64
 1   Localização      4824 non-null   int64
 2   Denominação      4824 non-null   object
 3   Incorporação em  4824 non-null   object
 4   Sala             4824 non-null   object
dtypes: int64(2), object(3)
memory usage: 188.6+ KB

None

In [12]:
salasEspecificas = [21080001, 21080013]
tabelaFiltrada = tabela[tabela['Localização'].isin(salasEspecificas)]

contagemItens = tabelaFiltrada.groupby('Localização')['Nº inventário'].count().reset_index()
display(contagemItens)

   Localização  Nº inventário
0     21080001              6
1     21080013            162

In [30]:
grupoSalas = tabela[tabela['Localização'].isin(salasEspecificas)].groupby('Sala').agg({
    'Nº inventário': 'count',
    'Localização': lambda x: list(set(x)),  
    'Denominação': lambda x: x.tolist()  # Converter a coluna 'Nº inventário' em uma lista
}).reset_index()
resultado = {}
for _, row in grupoSalas.iterrows():
    resultado[row['Sala']] = {
        'quantidade de Nº inventário': row['Nº inventário'],
        'localização': row['Localização'],
        'Denominação': row['Denominação']
    }

resultado_json = json.dumps(resultado, indent=2, ensure_ascii=False)

print(resultado_json)

{
  "SALA 01": {
    "quantidade de Nº inventário": 6,
    "localização": [
      21080001
    ],
    "Denominação": [
      "SENAI Ricardo Lerner",
      "SENAI Ricardo Lerner",
      "MESA COM TAMPO EM GOTA MALIBU - DC 1692",
      "MESA COM TAMPO EM GOTA MALIBU - DC 1692",
      "MESA COM TAMPO EM GOTA MALIBU - DC 1692",
      "MESA EM L COM DIVISÓRIA MALIBU - DC 1693"
    ]
  },
  "SALA 13": {
    "quantidade de Nº inventário": 162,
    "localização": [
      21080013
    ],
    "Denominação": [
      "PROJETOR MULTIMIDIA 1200 ANSI LUMENS",
      "PROJETOR MULTIMIDIA 1200 ANSI LUMENS",
      "PROJETOR MULTIMIDIA 1200 ANSI LUMENS",
      "PROJETOR MULTIMIDIA 1200 ANSI LUMENS",
      "PROJETOR MULTIMIDIA 1200 ANSI LUMENS",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "CAIXA ACUSTICA TIPO ARANDELA 40W",
      "BALANCA ENFERMARIA 150KG FILIZOLA",
      "PROJETOR MULTIM. BEN-MP610 -1800 ANSI LUMENS",
      "TELA ELÉTRICA P/PROJEÇÃO 120P/TES",
      "ESTANTE 6PRATELE.DE AÇO P/ALMOX.-SCHEFFER",
      "FIREWALL DRIVE 3 1/2P 32 USERS CISCO",
      "ROTEADOR 18 SAIDAS 32MB CISCO 3600",
      "SWITCH 24 PORTAS - SWITCH1100 - 3COM",
      "ROTEADOR 30MHZ 8MB 2500 CISCO",
      "FIREWALL MONTAGEM EM RACK P/4000 USUARIO",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "SWITCH L2 28 PORTAS",
      "IMPRESSORA P/CHEQUES RS232 ELGIN",
      "SWITCH -4228G 24P+2P 10/100/1000 +2P",
      "TRACADOR GRAFICO",
      "PLOTTER JATO DE TINTA MOD.800PS MARCA HP",
      "SWITCH L2 28 PORTAS UPLINK 1000 BASE T",
      "SERVIDOR REDE 2GB -TIPO RACK MX201 ITAUTEC",
      "SERVIDOR REDE 2GB - TORRE  MX201 - ITAUTEC",
      "NOBREAK SENOIDAL TORRE COM ETHERNET",
      "SERVIDOR ESCOLA MX203 ITAUTEC",
      "PROJETOR MULT.SALA/LAB.C/SUPORTE/OPTOMA",
      "PROJETOR MULT.SALA/LAB.C/SUPORTE/OPTOMA",
      "PROJETOR MULT.SALA/LAB.C/SUPORTE/OPTOMA",
      "NOBREAK SENOIDAL TORRE C/ETHERNET/SMS",
      "PRINT SERVER 2 PORTAS USB/TRENDNET",
      "PRINT SERVER 2 PORTAS USB/TRENDNET",
      "SWITCH 24 PT 3COM 3CR17561-91 4500",
      "PROJETOR MULT.P/SALA/LAB.C/SUP./OPTOMA",
      "PROJETOR MULT.P/SALA/LAB.C/SUP./OPTOMA",
      "PROJETOR MULT.P/SALA/LAB.C/SUP./OPTOMA",
      "PROJETOR MULTIMÍDIA SALA/LAB.C/SUP./NEC",
      "PROJETOR MULTIMÍDIA SALA/LAB.C/SUP./NEC",
      "PROJETOR MULTIMÍDIA SALA/LAB.C/SUP./NEC",
      "NOBREAK SENOIDAL 3KVA / PHD",
      "TELA PROJEÇÃO ELÉTR.100P C/CONTR.REMOTO",
      "MICROCOMPUTADOR POST AT(I3PF)/POSITIVO",
      "MICROCOMPUTADOR POST AT(I3PF)/POSITIVO",
      "MICROCOMPUTADOR POST AT(I3PF)/POSITIVO",
      "MICROCOMPUTADOR POST AT(I3PF)/POSITIVO",
      "MONITOR COLOR LCD 22 LA2205WG/ HP",
      "MONITOR LCD 23P / ASUS",
      "MONITOR LCD 23P / ASUS",
      "MONITOR LCD 23P / ASUS",
      "TELA ELÉTRICA TENSIONADA DE 84P / GAIA",
      "SWITCH L3 CORE UNIDADES/HP  A5500",
      "MICROCOMPUTADOR INTEGRADO 27P/APPLE",
      "SERVIDOR EDUCACIONAL VERSÃO 2011/ITAUTEC",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "SWITCH L2 ACESSO UNIDADES/HP A5120-24G",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MONITOR LED 21,5P / LG E2241V",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR POSITIVO MASTER D510",
      "MICROCOMPUTADOR INTEGRADO 20P / ITAUTEC",
      "MICROCOMPUTADOR INTEGRADO 20P / ITAUTEC",
      "MICROCOMPUTADOR INTEGRADO 20P / ITAUTEC",
      "SWITCH L3 - CORE 48 PORTAS UNIDADES/ CISCO",
      "SWITCH L3 - CORE 32 PORTAS UNIDADES/ CISCO",
      "IMPRESSORA JATO DE TINTA TAMANHO A3 - HP",
      "IMPRESSORA JATO DE TINTA TAMANHO A3 - HP",
      "IMPRESSORA JATO DE TINTA TAMANHO A3 - HP",
      "IMPRESSORA JATO DE TINTA TAMANHO A3 - HP",
      "IMPRESSORA MULTIFUNCIONAL JATO DE TINTA - HP",
      "IMPRESSORA MULTIFUNCIONAL JATO DE TINTA - HP",
      "IMPRESSORA MULTIFUNCIONAL JATO DE TINTA - HP",
      "IMPRESSORA LASER COLORIDA PEQUENO PORTE-LEXMARK",
      "IMPRESSORA LASER COLORIDA PEQUENO PORTE-LEXMARK",
      "IMPRESSORA LASER COLORIDA PEQUENO PORTE-LEXMARK",
      "IMPRESSORA LASER COLORIDA PEQUENO PORTE-LEXMARK",
      "IMPRESSORA JATO DE TINTA - TAMANHO A4/ HP",
      "IMPRESSORA JATO DE TINTA - TAMANHO A4/ HP",
      "CONJ.DID.COMUNICACAO OPTICA DEGEM",
      "ESTABILIZADOR ENERGIA SS1000-ZENTRANX",
      "APARELHO DE DVD DIVX HDMI/ DVP-5965 PHILIPS",
      "APARELHO DE DVD DIVX HDMI/ DVP-5965 PHILIPS",
      "APARELHO DE DVD DIVX HDMI/ DVP-5965 PHILIPS",
      "APARELHO DE DVD DIVX HDMI/ DVP-5965 PHILIPS",
      "CONJ.DE 40 TERMINAIS P/AVALIAÇÃO/CRICKET",
      "CONJ. DE 40 TERMINAIS P/AVALIAÇÃO/CRIKET",
      "CONJ. DE 40 TERMINAIS P/AVALIAÇÃO/CRIKET",
      "APARELHO GRAVADOR DE DVD/LG",
      "APARELHO GRAVADOR DE DVD/LG",
      "APARELHO GRAVADOR DE DVD/LG",
      "BLU-RAY PLAYER / PHILIPS",
      "TERMINAL INTERATIVO P/APRESENT./PROMETHEAN",
      "CONJ.40 TERMINAIS P/AVALIAÇÃO/PROMETHEAN",
      "CONJ.40 TERMINAIS P/AVALIAÇÃO/PROMETHEAN",
      "CONJ.40 TERMINAIS P/AVALIAÇÃO/PROMETHEAN",
      "CONJ.40 TERMINAIS P/AVALIAÇÃO/PROMETHEAN",
      "CONJ. LOCALIZADOR DE CABOS ELÉTR./MINIPA",
      "CONJ. LOCALIZADOR DE CABOS ELÉTR./MINIPA",
      "APARELHO DE BLU-RAY PLAYER / SONY",
      "APARELHO DE BLU-RAY PLAYER / SONY",
      "APARELHO DE BLU-RAY PLAYER / SONY",
      "SELETOR MANUAL VÍDEO/ TRANSCORTEC",
      "TELA ELÉTRICA TENSIONADA 120P 110V/ TES",
      "PROJETOR MULTIMÍDIA PARA SALAS COM SUPOR/EPSON",
      "FORNO MICROONDAS DE 30 A 38 L/ MIDEA LIVA",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "KIT FERRAMENTAS P/CONECTORES CORNING",
      "TESTADOR CABO DE VOZ,DADOS E VÍDEO/IDEAL",
      "TURBIDÍMETRO DIGITAL / DIGIMED",
      "TURBIDÍMETRO INDUSTRIAL / DIGIMED"
    ]
  }
}